<form action="/api/sessions/signup" method="post">
firstName: <input type="text" name="first_name" id="first_name">
lastName: <input type="text" name="last_name" id="first_name">
email: <input type="email" name="email" id="email">
password: <input type="password" name="password" id="password">
<input type="submit" value="sign up">
</form>

<button onclick="location.href='/api/sessions/auth/github'">github</button>
<button onclick="location.href='/api/sessions/auth/google'">google</button>
